/* Optional: Add some styles to improve the carousel appearance */
/* .carousel {
    position: relative;
} */

.carousel {
    position: relative;
    overflow: hidden; /* Menghindari overflow */
}
.carousel-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel-item.active {
    opacity: 1;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgb(175, 175, 175);
    transition: background-color 0.3s;
}

.circle.active {
    background-color: rgb(255, 255, 255);
}

.text-overlay {
    display: none; /* Hide by default */
    color: white; /* Change color as needed */
    font-size: 1.5rem; /* Adjust size as needed */
}

.carousel-item.active ~ .text-overlay {
    display: block; /* Show active slide text */
}

/* Styles for large screens */
@media (min-width: 641px) {
    .logo img {
        height: 3.5rem; /* Set height for large screens */
    }
}

/* Styles for small screens */
@media (max-width: 640px) {
    .responsive-iframe {
        height: 205px !important; /* Set height for small screens */
    }

    .responsive-map {
        width: auto !important;
    }

    .logo img {
        max-width: 100%;
        height: 3rem; /* Set height for small screens */
    }
}
